.supplier-table> th
{
    font-size: 15px!important;
    font-weight: 600;
}
.supplier-table1> td:nth-child(1)
{
    color: rgb(32 126 254)!important;
}
.popup-label
{
    margin: 10px 0px 10px 0px;
    color: #000000cc!important;
    font-size:14px!important;
}

.supplier-form> .MuiFormControl-root
{
    width: 100%!important;
}
form:focus
{
    outline: none!important;
}
.MuiDialog-paperWidthSm
{
    width:40%;
}
.MuiDialog-paperFullScreen
{
    width: 70%!important;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item
{
    padding: 34px!important;
    padding-top: 5px!important;
    padding-bottom: 4px!important;
}
.supplier-textarea
{
    height: 100px!important;
    overflow: hidden;
    width: 94%;
    margin-left: 23px;
}
.MuiOutlinedInput-root
{
    border-radius: 0px!important;
}
.error-msg
{
margin: 4px;
    font-size: 11px;
    color: #c30e0e;
}
.supplierview-heading
{
    border-bottom: 1px solid #e0e0e0;
    margin: 0px -16px;
    padding: 9px;
}
.Breadcrumbs-head
  {
    margin-top: 14px!important;
      padding: 16px!important;
      background-color: #1c255d00!important;
      box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12)!important;
  }
  .MuiTableCell-root{
    padding: 11px!important;
}

.MuiFormControl-root
{
    width: 100%;
}
.main-common
{
    margin-top:70px;
    margin-left:239px;
    margin-right:0px;
}
.product-popup> .MuiDialog-paperWidthSm
{
    width:50%;
}